{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{% static "logo.jpeg" %}" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Gotham Regency Inn</title>
  </head>

  <body>
    {% if messages %}
  <ul class="messages fx-row" id="messageTag">
  {% for message in messages %}
    <strong><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></strong>
  {% endfor %}
  <button onclick="hideElement()" class="bg-gray-200 text-white-200 pd-200">×</button>
  </ul>
{% endif %}
    <div class="bg-image">
      <header class="pd-inl-400 | pd-blk-300">
        <nav class="fs-300 | fx-space-between">
          <span>
            <a href="" class="text-white-100">Gotham Regency Inn</a>
          </span>
          <span class="fx-space-evenly">
            <a href="/find" class="pd-inl-200 | text-white-100">Find</a>
            <a href="/about" class="pd-inl-200 | text-white-100">About Us</a>
            {% if user.is_authenticated %}
            <a href="/profile" class="pd-inl-200 | text-white-100">Profile</a>
            {% else %}
            <a href="/login" class="pd-inl-200 | text-white-100">Login</a>
            {% endif %}
          </span>
        </nav>
      </header>
      <div class="fx-centre fx-col h100-w100">
        <h1 class="text-white-100 fs-600">
          Find a perfect place for your stay
        </h1>
        <form action="home" method="post">
          {% csrf_token %}
          <button
          class="rounded-button pd-inl-300 pd-blk-100 gradient-button text-white-200"
          name="handleButton"
          value="redirect"
          >
          Book Now
        </button>
      </form>
      </div>
    </div>
    <section></section>
    <div class="bg-image2">
      <div class="blr-50 h100-w100 fx-centre">
        <h2 class="fs-500 text-white-200">Our Hotels</h2>
        <div class="fx-row">
          <div class="hotel-card brd-rad-200" id="arab">
            <div
              class="hotel-card-2"
            >
              <h3 class="fs-300">Arabic Rafahia</h3>
              <p>
                Enjoy the breeze of United Arab Emirates under the moon. A
                lavish suite for you, equipped with 7 star resort and bars
              </p>
              <div class="fx-row-center">
                <form action="home" method="post" class="fx-row-center">
                  {% csrf_token %}
                  <button
                  class="rounded-button pd-inl-300 pd-blk-100 card-button text-white-100" id="button-style"
                  name="handleButton"
                  value="redirect"
                  >
                  Reseve
                </button>
                <button class="rounded-button card-button" id="button-style" name="handleButton" value="redirect">
                  <img src="{% static "info.svg" %}" alt="info_button">
                </button>
              </form>
              </div>
            </div>
          </div>
          <div class="hotel-card" id="italy">
            <div
              class="hotel-card-2"
            >
              <h3 class="fs-300">Italian Russo</h3>
              <p>
                5-star Italian Inn at Venice, Italy. Enjoy the luxurious river
                view at the banks of Grand Canal of Venice, and home your
                Maradona energy.
              </p>
              <div class="fx-row-center">
                <form action="home" method="post" class="fx-row-center">
                  {% csrf_token %}
                  <button
                  class="rounded-button pd-inl-300 pd-blk-100 card-button text-white-100" id="button-style"
                  name="handleButton"
                  value="redirect"
                  >
                  Reseve
                </button>
                <button class="rounded-button card-button" id="button-style" name="handleButton" value="redirect">
                  <img src="{% static "info.svg" %}" alt="info_button">
                </button>
              </form>
              </div>
            </div>
          </div>
          <div class="hotel-card" id="america">
            <div
              class="hotel-card-2"
            >
              <h3 class="fs-300">Là America</h3>
              <p>
                5-star Italian Inn at Venice, Italy. Enjoy the luxurious river
                view at the banks of Grand Canal of Venice, with world-class
                food.
              </p>
              <div class="fx-row-center">
                <form action="home" method="post" class="fx-row-center">
                  {% csrf_token %}
                  <button
                  class="rounded-button pd-inl-300 pd-blk-100 card-button text-white-100" id="button-style"
                  name="handleButton"
                  value="redirect"
                  >
                  Reseve
                </button>
                <button class="rounded-button card-button" id="button-style" name="handleButton" value="redirect">
                  <img src="{% static "info.svg" %}" alt="info_button">
                </button>
              </form>
              </div>
            </div>
          </div>
          <div class="hotel-card" id="german">
            <div
              class="hotel-card-2"
            >
              <h3 class="fs-300">Reich Germany</h3>
              <p>
                5-star Italian Inn at Venice, Italy. Enjoy the luxurious river
                view at the banks of Grand Canal of Venice, with world-class
                food.
              </p>
              <div class="fx-row-center">
                <form action="home" method="post" class="fx-row-center">
                  {% csrf_token %}
                  <button
                  class="rounded-button pd-inl-300 pd-blk-100 card-button text-white-100" id="button-style"
                  name="handleButton"
                  value="redirect"
                  >
                  Reseve
                </button>
                <button class="rounded-button card-button" id="button-style" name="handleButton" value="redirect">
                  <img src="{% static "info.svg" %}" alt="info_button">
                </button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="fx-row-space-around pd-blk-300">
      <span class="fx-centre"><h2>All Rights Reserved</h2></span>
      <div class="fx-centre">
        <h2>© Gotham Regency Inn™, 2023</h2>
        <div>
          <a href="/terms">Privacy Policy</a>
          <a href="/terms">Terms and Conditions</a>
          <a href="#">Accesibility</a>
          <a href="#">Sitemap</a>
        </div>
      </div>
    </footer>
    <script>
      function hideElement() {
        var element = document.getElementById('messageTag')
        element.style.display = 'none';
    }
    </script>
  </body>
</html>
