{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{% static "logo.jpeg" %}" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Gotham Regency Inn</title>
  </head>
  <body>
    {% if messages %}
  <ul class="messages fx-row" id="messageTag">
  {% for message in messages %}
    <strong><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></strong>
  {% endfor %}
  <button onclick="hideElement()" class="bg-gray-200 text-white-200 pd-200">×</button>
  </ul>
{% endif %}
    <div class="bg-image">
      <header class="pd-inl-400 | pd-blk-300">
        <nav class="fs-300 | fx-space-between">
          <span>
            <a href="/home" class="text-white-100">Gotham Regency Inn</a>
          </span>
          <span class="fx-space-evenly">
            <a href="/find" class="pd-inl-200 | text-white-100">Find</a>
            <a href="/about" class="pd-inl-200 | text-white-100">About Us</a>
            {% if user.is_authenticated %}
            <a href="/profile" class="pd-inl-200 | text-white-100 | brd-rad-btn-100 | bg-black-100 | bs-200">Profile</a>
            {% else %}
            <a href="/login" class="pd-inl-200 | text-white-100">Login</a>
            {% endif %}
          </span>
        </nav>
      </header>
      <main class="fx-centre">
        {% if user.is_authenticated %}
        <div class="fx-row wd-total blr-300 bs-max brd-rad-300 mg-inl-300 pd-inl-400 pd-blk-300">
          <div class="fx-column-space-evenly">
            <div class="fx-row-a-center pd-inl-100 pd-blk-300">
              <span class="img mg-inl-300">
                <img src="{% static "person.png" %}" alt="person-image">
              </span>
              <h1 class="text-white-100">{{ username }}</h1>
            </div>
            <div class="pd-inl-100 pd-blk-300">
              <span>
                <span>    
                  <span class="text-white-100 fs-200">Membership:</span>
                  {% if membership == 'None' %}
                  <span class="text-white-300 fs-200">{{ membership }}</span>
                  {% elif membership == 'Gold' %}
                  <span class="text-gold fs-200">{{ membership }}</span>
                  {% elif membership == "GoldPro" %}
                  <span class="text-gold-glow fs-200">{{ membership }}</span>
                  {% endif %}
                </span>
                <span class="text-gray-200 mg-inl-300">Expires in 6 months</span>
              </span>
              {% if membership == 'None' %}
              <span>
                <p class="text-gray-100 width-75">Activating to Gold Membership will get you additional 10% discount</p>
                <span>
                  <form action="/profile" method="post">
                    {% csrf_token %}
                    <button class="bg-gold2 text-white-100 mg-blk-200 pd-inl-400 pd-blk-100 brd-rad-btn-100 gold-hover" type="submit" name="handle_button" value="gold">Upgrade to Gold</button>
                  </form>
                </span>
              </span>
              {% elif membership == 'Gold' %}
              <span>
                <p class="text-gray-100">Activating to Gold Pro Membership will get you additional 40% discount</p>
                <span>
                  <form action="/profile" method="post">
                    {% csrf_token %}
                    <button class="bg-gold text-white-100 mg-blk-200 pd-inl-400 pd-blk-100 brd-rad-btn-100 gold-pro-hover" type="submit" name="handle_button" value="goldpro">Upgrade to Gold Pro</button>
                    <button class="bg-black-200 text-white-100 mg-blk-200 pd-inl-400 pd-blk-100 brd-rad-btn-100 gold-hover" type="submit" name="handle_button" value="renew">Renew Membership</button>
                  </form>
                </span>
              </span>
              {% elif membership == 'GoldPro' %}
              <span>
                <p class="text-gray-100">Gold Pro membership is active and you can avail flat 40% discount on all bookings</p>
                <span>
                  <form action="/profile" method="post">
                    {% csrf_token %}
                    <button class="bg-black-200 text-white-100 mg-blk-200 pd-inl-400 pd-blk-100 brd-rad-btn-100 gold-pro-renew" type="submit" name="handle_button" value="renew">Renew Membership</button>
                  </form>
                </span>
              </span>
              {% endif %}
            </div>
            <div class="pd-inl-100 pd-blk-300">
              <span class="text-white-100">
                <span>Credits:</span>
                <span>${{credits}} only</span>
              </span>
              <p class="text-gray-100 width-75">$500,000 minimum balance gives you Premium suite for 10% discount</p>
              <form action="/profile" method="post">
                {% csrf_token %}
                <button class="bg-white-100 text-black-200 login-button mg-blk-200 pd-inl-400 pd-blk-100 brd-rad-btn-100" type="submit" name="handle_button" value="addcredits">Add Credits</button>
              </form>
            </div>
          </div>
          <section class="divider-vertical"></section>
          <div class="fx-col-space-between pd-inl-300">
            <div class="text-white-100">
              <h2 class="fx-centre pd-100 mg-blk-300">Hotels visited</h2>
              <ol>
                {% if hotel == "" %}
                <div>
                  <p>No Hotels visited</p>
                  <button class="rounded-button pd-inl-300 pd-blk-100 gradient-button"><a href="/find" class="text-white-200">Book Now</a></button>
                </div>
                {% elif hotel != "" %}
                  {% for hotel_ in hotel %}
                    <li class="pd-blk-100">{{ hotel_ }}</li>
                    {% endfor %}
                {% endif %}
              </ol>
            </div>
            <div>
              <form action="/profile" method="post">
                {% csrf_token %}
                <div class="fx-col">
                  <div class="mg-blk-200">
                    <button class="mg-inl-100 pd-inl-400 pd-blk-100 brd-rad-btn-100 gold-hover remove" type="submit" name="handle_button" value="remove_mem">Remove membership</button>
                  </div>
                  <div class="mg-blk-200">
                    <button class="bg-black-100 text-white-200 mg-inl-100 pd-inl-400 pd-blk-100 brd-rad-btn-100 gold-hover" type="submit" name="handle_button" value="logout">Log Out</button>
                    <button class="logout mg-inl-100 pd-inl-400 pd-blk-100 brd-rad-btn-100 gold-hover" type="submit" name="handle_button" value="delete">Delete Account</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% else %}
        <h1>Seems like you haven't logged in</h1>
        <button><a href="/login">Log In</a></button>
        <button><a href="/signup">Sign Up</a></button>
        {% endif %}
      </main>
    </div>
    <footer></footer>
    <script>
      function hideElement() {
        var element = document.getElementById('messageTag')
        element.style.display = 'none';
    }
    </script>
  </body>
</html>
